@model Assignment.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>



        <script>
            const url="https://localhost:7110/api/ProductDetails";
            fetch(url).then(res=>res.json()).then(data=>console.log(data))
        </script>

