@using Assignment.Models
@model Assignment.Models.UserChangePasswordVM;
@{
    ViewData["Title"] = "Change password";
}
<div class="d-flex justify-content-center h-500">
    <div class="user_card">
        <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
                <img src="https://i.pinimg.com/736x/87/99/59/879959c9e18729568156805fbb6c912b.jpg" style="width:500px;height:300px" class="brand_logo p-3" alt="Logo">
            </div>
        </div>
        <h3 class="text-center text-info">Change password</h3>

        <div class="d-flex flex-column justify-content-center form_container ">
            <form asp-controller="Auth" asp-action="ChangePassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">User name</label>
                    <i class="fas fa-user"></i><input type="text" readonly class="form-control " placeholder="User Name" asp-for="UserName">
                </div>
                  <div class="form-group">
                    <label asp-for="Phone" class="control-label">Number phone</label>
                    <i class="fas fa-user"></i><input type="text" readonly class="form-control " placeholder="Number phone" asp-for="Phone">
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label ">New password</label><i class="fas fa-key"></i>
                    <input type="password" class="form-control w-200" placeholder="New password" asp-for="NewPassword">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label ">Confirm password</label><i class="fas fa-key"></i>
                    <input type="password" class="form-control w-200" placeholder="Confirm password" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-info w-100 mr-3">Submit</button>

            </form>
            <div class="d-flex justify-content-around">
                <a asp-controller="Auth" asp-action="Login" class="text-center">Login</a>
            <a asp-controller="Auth" asp-action="ForgotPassword" class="text-center">Change phone</a>
            </div>
        </div>
    </div>
</div>

