@using Assignment.Models
@model Assignment.Models.UserForgotPasswordVM;
@{
    ViewData["Title"] = "Forgot";
}


<div class="d-flex justify-content-center h-500">
    <div class="user_card">
        <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
                <img src="https://i.pinimg.com/736x/87/99/59/879959c9e18729568156805fbb6c912b.jpg" style="width:500px;height:300px" class="brand_logo p-3" alt="Logo">
            </div>
        </div>
        <h3 class="text-center text-info">Login</h3>

        <div class="d-flex flex-column justify-content-center form_container ">
            <form asp-controller="Auth" asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label ">Phone</label>
                    <input type="tel" class="form-control w-200" placeholder="Number phone" asp-for="Phone">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-info w-100 mr-3">Change password</button>
               
            </form>
             <a asp-action="Login" asp-controller="Auth" class="text-center">Login</a>
        </div>
    </div>
</div>

